<h1>Books</h1>

<%= form_with(model: @book, url: books_path) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <span><%= link_to 'Show', book_path(@book) if @book.persisted? %></span>
  <h5><%= link_to 'Edit', edit_book_path(@book) if @book.persisted? %></h5>
  <h5><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } if @book.persisted? %></h5>

  <%= form.submit 'Create Book' %>
<% end %>

<h4>New book</h4>
<h4>Title: <%= @book.title %></h4>
<p>Body: <%= @book.body %></p>

<% if @book.errors.any? %>
  <div class="error-messages">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
